:root{
    --font-family: "Roboto", "Segoe UI", sans-serif;
    --surface: #8549c3;
    --muted: #b890e0;
}

@media (prefers-color-scheme: light) {
    :root {
	--bg: #f5f5f5;
	--text: #0f0f10;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
	--bg: #0f0f10;
	--text: #f5f5f5;
    }
}
* { 
    box-sizing: border-box; 
    font-family: var(--font-family);
    color: var(--text);
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
